<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>detail</title>
  </head>
  <body>
  <h1>Detail Page</h1>
  <hr />
  <form method="post">
    <fieldset>
      <legend>Detail Data</legend>
      <table>
        <tr>
          <td><label>Id : <label></td>
          <td><input type = "text" name = "id" value="<%= data.id %>" disabled/></td>
        </tr>
        <tr>
          <td><label>title : <label></td>
          <td><input type = "text" name ="name" value="<%= data.title %>" disabled/></td>
        </tr>
        <tr>
          <td><label>description : <label></td>
          <td><input style = "width:156px; height:200px;" type = "text" name = "description"
              value="<%= data.description %>" disabled/></td>
        </tr>
        <tr>
          <td><label>profile : <label></td>
          <td><input type ="text" name = "profile" value="<%= data.profile %>" disabled/></td>
        </tr>
        </table>
        <input type = "button" value = "back" onclick="history.back(-1);"/>
    </fieldset>
  </body>
  </html>
